*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Tiny5", serif;
    font-weight: 200;
    font-style: normal;
}

.gameBg{
    background-image: url('media/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

h2{
    font-size: 15px;
    text-align: center;
    color: white;
}

.menu{
    background-color: #1d9100c9;
    width: 100%;
    height: 150px;
    bottom: -130px;
    position: fixed;
    transition: 0.2s ease-in-out;
    backdrop-filter: blur(2px);
    z-index: 10;
}

.menu:hover{
    transition-delay:0.1s;
    background-color: rgba(121, 121, 121, 0.221);
    backdrop-filter: blur(6px);
    transform: translateY(-130px);
}

.sonido{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

button{
    transition: 0.13s ease;
    background-color: #ff9100; 
    border: 1px solid;
    border-color: #00000000; 
    border-radius: 0.2em;
    height: 30px;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
}

button:hover{ 
    color: #ffffff; 
    background-color: rgb(102, 102, 102);  
    cursor: pointer;
    border-color: #ffffff;
} 

button:hover:active{  
    background-color: #1d9100c9;  
    color: #ffffff; 
    box-shadow: 0px  0px 0px 0px rgba(0, 0, 0, 0.089);
    transform: scale(0.95);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.457);
}

.botonMusica{
    border-radius: 0.5em;
}

.botonesAudio{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sonido{
    display: flex;
    align-items: start;
    justify-content: center;
}

.baseH{
    z-index: 1;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(8px 8px 5px  rgba(0, 0, 0, 0.521));
}

.heli{
    z-index: 2;
    position: absolute; 
    top: 50%; 
    right: 15px; 
    transform: translateY(-50%);  
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
    
}

.basePic{
    height: 200px;
}

.heliPic{
    height: 100px;
    transform: rotate(90deg);
    filter: drop-shadow(5px -2px 1px  rgba(0, 0, 0, 0.555));
    animation-name: heliPicA;
    animation-timing-function: ease-in-out;
    animation-duration: 4s;
}
.heliPic2{
    height: 100px;
    transform: rotate(90deg);
    filter: drop-shadow(5px -2px 1px  rgba(0, 0, 0, 0.555));
    animation-name: heliPicA;
    animation-timing-function: ease-in-out;
    animation-duration: 4s;
}

@keyframes heliPicA {
    0%{
        filter: drop-shadow(8px -2px 1px  rgba(0, 0, 0, 0.555));
        height: 100px;
    }
    10%{
        filter: drop-shadow(50px -13px 8px  rgba(0, 0, 0, 0.555));
        height: 130px;
    }
    90%{
        filter: drop-shadow(50px -13px 8px  rgba(0, 0, 0, 0.555));
        height: 130px;
    }
    100%{
        filter: drop-shadow(8px -2px 1px  rgba(0, 0, 0, 0.555));
        height: 100px;
    }
}

.superviviente {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url(media/survivor.gif);
    background-size: cover;
    background-position: center;
    background-position: center;
    background-size: cover;
    filter: drop-shadow(5px 5px 3px  rgba(10, 10, 10, 0.349));
}

.comida{
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url(media/pizza.png);
    background-position: center;
    background-size: cover;
    filter: drop-shadow(1px 1px 3px  rgb(255, 255, 255));
}

@keyframes comida {
    0%{
        top: var(--startY);
        left: var(--startX);
    }
    50%{
        top: var(--endY);
        left: var(--endX);
    }
    60%{
        top: var(--endY);
        left: var(--endX);
    }
    100%{
        top: var(--startY);
        left: var(--startX);
    }
}

@keyframes desaparicion {
    0%{
        opacity: 1;
        transform: scale(1);
    }
    30%{
        opacity: 1;
        transform: scale(1);
    }
    51%{
        opacity: 1;
        transform: scale(0.3) rotate(0deg);
        filter: drop-shadow(1px 1px 3px  #ff0000);
    }
    100%{
        opacity: 0;
        transform: scale(2) rotate(40deg);
        filter: drop-shadow(10px 10px 130px #ff0000);

    }

}